.DS_Store

admin
/admin
=======
.htaccess
.quarantine/
.tmb/
.user.ini
gd-config.php
index.php
license.txt
php.ini
php.ini-190522-size
php5.ini
readme.html
robots.txt
static/
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/cache/
wp-content/gallery-bank/
wp-content/index.php
wp-content/languages/
wp-content/mu-plugins/
wp-content/object-cache.php
wp-content/plugins/
wp-content/updraft/
wp-content/upgrade/
wp-content/uploads/
